<!--<form [formGroup]="form">
  <label for="lastname">Фамилия</label>
  <input type="text" id="lastname" formControlName="lastname">

  <label for="firstname">Имя</label>
  <input type="text" id="firstname" formControlName="firstname">
  <button type="submit"> Добавить</button>
</form> 
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-bodt">
          <h5 class="card-title">Экземпляр книги</h5>
          
        </div>
      </div>
    </div>
    <div class="col-6"></div>
  </div>
</div>
-->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <h3 class="text-center">Регистрация экемпляра книги</h3>
      <form [formGroup]="form">
        <!--<fieldset formGroupName="autor_name"> -->
        <div formGroupName="autor_name" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
          {{form.value |
          json}}
          <h4>Автор</h4>
          <div class="col-xs-12">
            <div div class="form-group "><label for="lastname">Фамилия</label><input id="lastname" type="text"
                class="form-control" formControlName="lastname" required placeholder="Введите Фамилию автора">
            </div>
          </div>
          <div class="col-xs-12">
            <div div class="form-group"><label for="firstname">Имя</label><input id="firstname" type="text"
                class="form-control" formControlName="firstname" required placeholder="Введите Имя автора">
            </div>
          </div>
          <div class="col-xs-12">
            <div div class="form-group"><label for="middlename">Отчество</label><input id="middlename" type="text"
                class="form-control" formControlName="middlename" required placeholder="Введите Отчество автора">
            </div>
          </div>
        </div>
        <div formArrayName="autors">
          <div *ngFor="let autor of form.controls.autors.controls; let i=index">
            <div [formGroupName]="i">
              <h4>Автор{{i+2}}</h4>
              <div div class="form-group"><label for="lastname_i">Фамилия</label><input id="lastname_i" type="text"
                  class="form-control" formControlName="lastname_i" required>
              </div>
              <div div class="form-group"><label for="firstname_i">Имя</label><input id="firstname_i" type="text"
                  class="form-control" formControlName="firstname_i" required>
              </div>
              <div cdiv class="form-group"><label for="middlename_i">Отчество</label><input id="middlename_i"
                  type="text" class="form-control" formControlName="middlename_i" required>
              </div>
              <button class="btn btn-outline-danger" (click)="removeAutors(i)">Remove</button>
            </div>
          </div>
        </div>

        <button [disabled]="!form.controls.autor_name.valid" type="button" class="btn btn-primary"
          (click)="addAutors()">Добавить
          автора</button>
        <!--</fieldset> -->
        <fieldset formGroupName="book">
          <h4>Книга</h4>
          <div class="form-group"><label for="book_name">Название</label><input id="book_name" type="text"
              class="form-control" formControlName="book_name" required>

          </div>
          <div class="form-group"><label for="publication">Издательство</label><input id="publication" type="text"
              class="form-control" formControlName="publication" required></div>
          <div class="form-group"><label for="year_publication">Год публикации</label><input id="year_publication"
              type="number" class="form-control" formControlName="year_publication" required></div>
        </fieldset>

        <div class="text-center col-xs-12">
          <button type="submit" class="btn btn-default" [disabled]="!form.valid" (click)="submit()">Сохранить</button>
        </div>
      </form>
    </div>
  </div>