<form novalidate [formGroup]="registrationForm">
  <fieldset formGroupName="autor_nam">
    <div class="form-group"><label for="lastname">Фамилия</label><input id="lastname" type="text" class="form-control"
        formControlName="lastname">
    </div>
    <div class="form-group"><label for="firstname">Имя</label><input id="firstname" type="text" class="form-control"
        formControlName="firstname">
    </div>
    <div class="form-group"><label for="middlename">Отчество</label><input id="middlename" type="text"
        class="form-control" formControlName="middlename">
    </div>
  </fieldset>
  <fieldset formGroupName="book">
    <div class="form-group"><label for="book_name">Название</label><input id="book_name" type="text"
        class="form-control" formControlName="book_name"></div>
    <div class="form-group"><label for="publication">Издательство</label><input id="publication" type="text"
        class="form-control" formControlName="publication"></div>
    <div class="form-group"><label for="year_publication">Год публикации</label><input id="year_publication" type="text"
        class="form-control" formControlName="year_publication"></div>
  </fieldset>
  <input type="submit" class="btn btn-default">
</form>